@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;
}
body{
    background-color: #FFFFFF;
    width: 100%;
    height: 100hv;
}
.header{
    padding-top: 20px;
    padding-bottom: 20px;
    /* background-color: black; */
}
.header-container{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-container-logo > img{
    width: 70%;
    height: 70%;
}
.header-container-menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 20px;
}
.header-container-menu > img{
    width: 17px;
    height: auto;
}
.content{
    width: 100%;
    height: 100%;
}
.content-banner{
    width: 100%;
    height: 300px;
    background-image: url(assets/banner.png);
    background-position: center;
    /* background-size: cover; */
    margin-bottom: 20px;
}
.content-main-descripition-container{
    width: 100%;
    border-bottom: 0.2px solid #e4e0e0;
}
.content-main-descripition{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
}
.content-main-container-products{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.content-main-products{
    width: 33%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.content-main-products-item{
    display: flex;
    justify-content: center;
}
.content-main-products-description{
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.product-name{

}
.product-price{

}